<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuentas por Cobrar</title>
    <meta name="description" content="Creating a Employee table with Twitter Bootstrap. Learn with example of a Employee Table with Twitter Bootstrap.">  
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    
    <link href="css/botones.css" rel="stylesheet">
    <!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">


</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="index.html"><img src="pictures/logo.png"></a></div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="topFixedNavbar1">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Registrar<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/registrarParticipantes">Participante</a></li>
            <li><a href="/registrarGrupo">Grupo</a></li>
            <li><a href="/registrarEntrenadores">Entrenador</a></li>
            <li class="divider"></li>
            <li><a href="/registrarTaller">Taller</a></li>
            <li><a href="/registrarPrograma">Programa</a></li>
          </ul>
        </li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administrar<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/enviarMaterial">Enviar Material a Grupos</a></li>
            <li><a href="/enviarPromocion">Enviar Promociones</a></li>
          </ul>
        </li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Voluntarios<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/registrarVoluntario">Registrar Voluntarios</a></li>
            <li><a href="/consultarVoluntarios">Consultar Voluntario</a></li>
            <li><a href="/tipoVoluntario">Tipo Voluntario</a></li>
          </ul>
        </li>


        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pagos<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/realizarPago">Realizar Pago</a></li>
            <li><a href="/cuentasPorCobrar">Cuentas por cobrar</a></li>
          </ul>
        </li>
        <li><a href="/Inscripciones">Inscripciones</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuario<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Cerrar Sesión</a></li>
            <li><a href="#">Configuración</a></li>

          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
  
  
<div class="container" style="margin:40px auto"> 
<div class="row header" style="text-align:center">
<h3>Cuentas por cobrar</h3>
<h5>Los participantes que se muestran en esta lista tienen pago pendiente a la fecha</h5>

<form method='post' action='/cuentasPorCobrar' >

<table id="myTable" class="table table-striped" >
        <thead>  
          <tr>  
            <th>Matricula</th>  
            <th>Nombre</th>  
            <th>Monto Adeudado</th>  
            <th>Fecha Correspondiente de pago </th>
           </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td>001</td>  
            <td>Josue</td>  
            <td>10000</td>  
            <td>01/01/2002</td>  
          </tr>  
          <tr>  
            <td>002</td>  
            <td>Miguel</td>  
            <td>5000</td>  
            <td>01/01/2002</td>  
          </tr>  
          <tr>  
            <td>003</td>  
            <td>Ana</td>  
            <td>8600</td>  
            <td>01/01/2002</td>  
          </tr>  
		   <tr>  
            <td>004</td>  
            <td>Carlos</td>  
            <td>14550</td>  
            <td>01/01/2002</td>  
          </tr>  
          <tr>  
            <td>005</td>  
            <td>Camila</td>  
            <td>2600</td>  
            <td>01/01/2002</td>  
          </tr>  
          <tr>  
            <td>006</td>  
            <td>James</td>  
            <td>1000000</td>  
            <td>01/01/2002</td>  
          </tr>  
		  
		   <tr>  
            <td>007</td>  
            <td>Ronald</td>  
            <td>9999</td>  
            <td>01/01/2002</td>  
          </tr>  
          <tr>  
            <td>008</td>  
            <td>Isaac</td>  
            <td>18969</td>  
            <td>01/01/2002</td>  
          </tr>  
          <tr>  
            <td>009</td>  
            <td>Emmanuel</td>  
            <td>1500</td>  
            <td>01/01/2002</td>  
          </tr>  
		  
		    <tr>  
            <td>010</td>  
            <td>Pierre</td>  
            <td>13000</td>  
            <td>01/01/2002</td>  
          </tr>  
          <tr>  
            <td>011</td>  
            <td>Escarlin</td>  
            <td>8526</td>  
            <td>01/01/2002</td>  
          </tr>  
          <tr>  
            <td>012</td>  
            <td>Dewyn</td>  
            <td>87552</td>  
            <td>01/01/2002</td>  
          </tr>  
        </tbody>  
      </table>
      </form>
</div>
</div>
</body>  
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
</html>  