<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enviar Promocion</title>

    <link href="css/botones.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/fileinput.js" type="text/javascript"></script>
    <script src="js/fileinput_locale_fr.js" type="text/javascript"></script>
    <script src="js/fileinput_locale_es.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="jQueryAssets/jquery.ui.datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="index.html"><img src="pictures/logo.png"></a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Registrar<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/registrarParticipantes">Participante</a></li>
                        <li><a href="/registrarGrupo">Grupo</a></li>
                        <li><a href="/registrarEntrenadores">Entrenador</a></li>
                        <li class="divider"></li>
                        <li><a href="/registrarTaller">Taller</a></li>
                        <li><a href="/registrarPrograma">Programa</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Administrar<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/consultarParticipantes">Consultar Participantes</a></li>
                        <li><a href="/consultarEntrenadores">Consultar Entrenadores</a></li>
                        <li><a href="/enviarMaterial">Enviar Material a Grupos</a></li>
                        <li><a href="/enviarPromocion">Enviar Promociones</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Voluntarios<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/registrarVoluntario">Registrar Voluntarios</a></li>
                        <li><a href="/consultarVoluntarios">Consultar Voluntario</a></li>
                        <li><a href="/tipoVoluntario">Tipo Voluntario</a></li>
                    </ul>
                </li>


                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Pagos<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/realizarPago">Realizar Pago</a></li>
                        <li><a href="/cuentasPorCobrar">Cuentas por cobrar</a></li>
                    </ul>
                </li>
                <li><a href="/Inscripciones">Inscripciones</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Usuario<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Cerrar Sesión</a></li>
                        <li><a href="#">Configuración</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div style="padding-top: 70px" class="container">

    <div class="container kv-main">
        <h3>Enviar Promocion:</h3>
        <p>Esta herramienta sirve para enviar promociones via correo electronico</p>
        <form method='post' action='/enviarPromocion' enctype="multipart/form-data">

            <div class="form-group">
                <label>Asunto del Correo</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="material-icons md-18 blue">note</i>
                    </div>
                    <input type="text" class="form-control" name="asunto" placeholder="Asunto">
                </div>
            </div>


            <label class="control-label">Seleccionar Archivo</label>

            <input id="file-0a" class="file" name="file" type="file" accept='.png' multiple
                   data-min-file-count="1">

            <br>

            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="reset" class="btn btn-default">Cancelar</button>
        </form>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.2.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/i18n/defaults-*.min.js"></script>


</body>

<script>
    $('#file-fr').fileinput({
        language: 'fr',
        uploadUrl: '#',
        allowedFileExtensions: ['jpg', 'png', 'gif'],
    });
    $('#file-es').fileinput({
        language: 'es',
        uploadUrl: '#',
        allowedFileExtensions: ['jpg', 'png', 'gif'],
    });
    $("#file-0").fileinput({
        'allowedFileExtensions': ['jpg', 'png', 'gif'],
    });
    $("#file-1").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 10,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
    /*
     $(".file").on('fileselect', function(event, n, l) {
     alert('File Selected. Name: ' + l + ', Num: ' + n);
     });
     */
    $("#file-3").fileinput({
        showUpload: false,
        showCaption: false,
        browseClass: "btn btn-primary btn-lg",
        fileType: "any",
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
    });
    $("#file-4").fileinput({
        uploadExtraData: {kvId: '10'}
    });
    $(".btn-warning").on('click', function () {
        if ($('#file-4').attr('disabled')) {
            $('#file-4').fileinput('enable');
        } else {
            $('#file-4').fileinput('disable');
        }
    });
    $(".btn-info").on('click', function () {
        $('#file-4').fileinput('refresh', {previewClass: 'bg-info'});
    });
    /*
     $('#file-4').on('fileselectnone', function() {
     alert('Huh! You selected no files.');
     });
     $('#file-4').on('filebrowse', function() {
     alert('File browse clicked for #file-4');
     });
     */
    $(document).ready(function () {
        $("#test-upload").fileinput({
            'showPreview': false,
            'allowedFileExtensions': ['jpg', 'png', 'gif'],
            'elErrorContainer': '#errorBlock'
        });
        /*
         $("#test-upload").on('fileloaded', function(event, file, previewId, index) {
         alert('i = ' + index + ', id = ' + previewId + ', file = ' + file.name);
         });
         */
    });
</script>


</html>
