<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrar Participante</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/botones.css" rel="stylesheet">
    <link href="jQueryAssets/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
    <link href="jQueryAssets/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
    <link href="jQueryAssets/jquery.ui.datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Autoformatos de campos -->
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script type="text/javascript">
        $(document).ready(function ($) {

            $('#ced').mask("999-9999999-9", {placeholder: ""});
            $('#pas').mask("99-9999999", {placeholder: ""});
            $('#cel').mask("+1(999)-999-9999", {placeholder: ""});
            $('#tel').mask("+1(999)-999-9999", {placeholder: ""});
        });

    </script>

    <!-- Tipo de identificacion -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript">
        function mostrar(id) {
            if (id == "cedula") {
                $("#cedula").show();
                $("#pasaporte").hide();

            }

            if (id == "pasaporte") {
                $("#cedula").hide();
                $("#pasaporte").show();

            }

        }
    </script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="jQueryAssets/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="jQueryAssets/jquery.ui-1.10.4.datepicker.min.js" type="text/javascript"></script>
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <script type="text/javascript">
        var datefield = document.createElement("input")
        datefield.setAttribute("type", "date")
        if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
            document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
            document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
            document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
        }
    </script>

    <script>
        if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
            jQuery(function ($) { //on document.ready
                $('#birthday').datepicker();
            })
        }
    </script>
    <!--Recapcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body style="...">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="index.html"><img src="pictures/logo.png"></a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Registrar<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/registrarParticipantes">Participante</a></li>
                        <li><a href="/registrarGrupo">Grupo</a></li>
                        <li><a href="/registrarEntrenadores">Entrenador</a></li>
                        <li class="divider"></li>
                        <li><a href="/registrarTaller">Taller</a></li>
                        <li><a href="/registrarPrograma">Programa</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Administrar<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/consultarParticipantes">Consultar Participantes</a></li>
                        <li><a href="/consultarEntrenadores">Consultar Entrenadores</a></li>
                        <li><a href="/enviarMaterial">Enviar Material a Grupos</a></li>
                        <li><a href="/enviarPromocion">Enviar Promociones</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Voluntarios<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/registrarVoluntario">Registrar Voluntarios</a></li>
                        <li><a href="/consultarVoluntarios">Consultar Voluntario</a></li>
                        <li><a href="/tipoVoluntario">Tipo Voluntario</a></li>
                    </ul>
                </li>


                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Pagos<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/realizarPago">Realizar Pago</a></li>
                        <li><a href="/cuentasPorCobrar">Cuentas por cobrar</a></li>
                    </ul>
                </li>
                <li><a href="/Inscripciones">Inscripciones</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-expanded="false">Usuario<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Cerrar Sesión</a></li>
                        <li><a href="#">Configuración</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="col-md-4 col-md-offset-4">
    <h2>Registrar Participante</h2>
    <h3>Datos Personales:</h3>

    <form method='post' action='/gettingParticipants' data-toggle="validator" role="form">


        <div class="form-group">
            <label>Nombre(s):</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons md-18 blue">account_box</i>
                </div>
                <input type="text" class="form-control" id="name" name="nombre" maxlength="50" required="required"
                       placeholder="Nombre(s)"
                />

            </div>
        </div>

        <div class="form-group">
            <label>Apellido(s):</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons md-18 blue">account_box</i>
                </div>
                <input type="text" class="form-control" id="apellido" name="apellido" maxlength="50" required="required"
                       placeholder="Apellido(s)"
                >
            </div>
        </div>

        <div class="form-group">
            <label>Fecha de Nacimiento:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons md-18 blue">date_range</i>
                </div>
                <input type="date" class="form-control" id="birthday" name="birthday" size="20" required="required"
                       placeholder="Fecha de Nacimiento"/>
            </div>
        </div>

        <div class="form-group">
            <label>Cédula/Pasaporte:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons md-18 blue">credit_card</i>
                </div>
                <select class="form-control" id="status" required="required" onChange="mostrar(this.value);">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="cedula">Cédula</option>
                    <option value="pasaporte">Pasaporte</option>
                </select>
            </div>

            <div id="cedula" style="display:none;">
                <input type="text" class="form-control" id="ced" name="cedula" placeholder="No. Cédula">
            </div>

            <div id="pasaporte" style="display: none;">
                <input type="text" class="form-control" id="pas" name="cedula" placeholder="No. Pasaporte">
            </div>
        </div>


        <div class="form-group">
            <label>Sexo:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons">group</i>
                </div>
                <select type="text" class="form-control" id="sexo" required="required">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="M"> Masculino</option>
                    <option value="F"> Femenino</option>
                </select>
                <br>
            </div>
        </div>

        <div class="form-group">
            <label>Nacionalidad:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons">flag</i>
                </div>
                <select type="text" class="form-control" id="pais" name="pais" maxlength="50" required="required"
                        placeholder="Nacionalidad">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option>Afganistán</option>
                    <option>Albania</option>
                    <option>Alemania</option>
                    <option>Andorra</option>
                    <option>Angola</option>
                    <option>Anguilla</option>
                    <option>Antártida</option>
                    <option>Antigua y Barbuda</option>
                    <option>Antillas Holandesas</option>
                    <option>Arabia Saudí</option>
                    <option>Argelia</option>
                    <option>Argentina</option>
                    <option>Armenia</option>
                    <option>Aruba</option>
                    <option>Australia</option>
                    <option>Austria</option>
                    <option>Azerbaiyán</option>
                    <option>Bahamas</option>
                    <option>Bahrein</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                    <option>Bélgica</option>
                    <option>Belice</option>
                    <option>Benin</option>
                    <option>Bermudas</option>
                    <option>Bielorrusia</option>
                    <option>Birmania</option>
                    <option>Bolivia</option>
                    <option>Bosnia y Herzegovina</option>
                    <option>Botswana</option>
                    <option>Brasil</option>
                    <option>Brunei</option>
                    <option>Bulgaria</option>
                    <option>Burkina Faso</option>
                    <option>Burundi</option>
                    <option>Bután</option>
                    <option>Cabo Verde</option>
                    <option>Camboya</option>
                    <option>Camerún</option>
                    <option>Canadá</option>
                    <option>Chad</option>
                    <option>Chile</option>
                    <option>China</option>
                    <option>Chipre</option>
                    <option>Ciudad del Vaticano (Santa Sede)</option>
                    <option>Colombia</option>
                    <option>Comores</option>
                    <option>Congo</option>
                    <option>Congo, República Democrática del</option>
                    <option>Corea</option>
                    <option>Corea del Norte</option>
                    <option>Costa de Marfíl</option>
                    <option>Costa Rica</option>
                    <option>Croacia (Hrvatska)</option>
                    <option>Cuba</option>
                    <option>Dinamarca</option>
                    <option>Djibouti</option>
                    <option>Dominica</option>
                    <option>Ecuador</option>
                    <option>Egipto</option>
                    <option>El Salvador</option>
                    <option>Emiratos Árabes Unidos</option>
                    <option>Eritrea</option>
                    <option>Eslovenia</option>
                    <option selected>España</option>
                    <option>Estados Unidos</option>
                    <option>Estonia</option>
                    <option>Etiopía</option>
                    <option>Fiji</option>
                    <option>Filipinas</option>
                    <option>Finlandia</option>
                    <option>Francia</option>
                    <option>Gabón</option>
                    <option>Gambia</option>
                    <option>Georgia</option>
                    <option>Ghana</option>
                    <option>Gibraltar</option>
                    <option>Granada</option>
                    <option>Grecia</option>
                    <option>Groenlandia</option>
                    <option>Guadalupe</option>
                    <option>Guam</option>
                    <option>Guatemala</option>
                    <option>Guayana</option>
                    <option>Guayana Francesa</option>
                    <option>Guinea</option>
                    <option>Guinea Ecuatorial</option>
                    <option>Guinea-Bissau</option>
                    <option>Haití</option>
                    <option>Honduras</option>
                    <option>Hungría</option>
                    <option>India</option>
                    <option>Indonesia</option>
                    <option>Irak</option>
                    <option>Irán</option>
                    <option>Irlanda</option>
                    <option>Isla Bouvet</option>
                    <option>Isla de Christmas</option>
                    <option>Islandia</option>
                    <option>Islas Caimán</option>
                    <option>Islas Cook</option>
                    <option>Islas de Cocos o Keeling</option>
                    <option>Islas Faroe</option>
                    <option>Islas Heard y McDonald</option>
                    <option>Islas Malvinas</option>
                    <option>Islas Marianas del Norte</option>
                    <option>Islas Marshall</option>
                    <option>Islas menores de Estados Unidos</option>
                    <option>Islas Palau</option>
                    <option>Islas Salomón</option>
                    <option>Islas Svalbard y Jan Mayen</option>
                    <option>Islas Tokelau</option>
                    <option>Islas Turks y Caicos</option>
                    <option>Islas Vírgenes (EEUU)</option>
                    <option>Islas Vírgenes (Reino Unido)</option>
                    <option>Islas Wallis y Futuna</option>
                    <option>Israel</option>
                    <option>Italia</option>
                    <option>Jamaica</option>
                    <option>Japón</option>
                    <option>Jordania</option>
                    <option>Kazajistán</option>
                    <option>Kenia</option>
                    <option>Kirguizistán</option>
                    <option>Kiribati</option>
                    <option>Kuwait</option>
                    <option>Laos</option>
                    <option>Lesotho</option>
                    <option>Letonia</option>
                    <option>Líbano</option>
                    <option>Liberia</option>
                    <option>Libia</option>
                    <option>Liechtenstein</option>
                    <option>Lituania</option>
                    <option>Luxemburgo</option>
                    <option>Macedonia, Ex-República Yugoslava de</option>
                    <option>Madagascar</option>
                    <option>Malasia</option>
                    <option>Malawi</option>
                    <option>Maldivas</option>
                    <option>Malí</option>
                    <option>Malta</option>
                    <option>Marruecos</option>
                    <option>Martinica</option>
                    <option>Mauricio</option>
                    <option>Mauritania</option>
                    <option>Mayotte</option>
                    <option>México</option>
                    <option>Micronesia</option>
                    <option>Moldavia</option>
                    <option>Mónaco</option>
                    <option>Mongolia</option>
                    <option>Montserrat</option>
                    <option>Mozambique</option>
                    <option>Namibia</option>
                    <option>Nauru</option>
                    <option>Nepal</option>
                    <option>Nicaragua</option>
                    <option>Níger</option>
                    <option>Nigeria</option>
                    <option>Niue</option>
                    <option>Norfolk</option>
                    <option>Noruega</option>
                    <option>Nueva Caledonia</option>
                    <option>Nueva Zelanda</option>
                    <option>Omán</option>
                    <option>Países Bajos</option>
                    <option>Panamá</option>
                    <option>Papúa Nueva Guinea</option>
                    <option>Paquistán</option>
                    <option>Paraguay</option>
                    <option>Perú</option>
                    <option>Pitcairn</option>
                    <option>Polinesia Francesa</option>
                    <option>Polonia</option>
                    <option>Portugal</option>
                    <option>Puerto Rico</option>
                    <option>Qatar</option>
                    <option>Reino Unido</option>
                    <option>República Centroafricana</option>
                    <option>República Checa</option>
                    <option>República de Sudáfrica</option>
                    <option>República Dominicana</option>
                    <option>República Eslovaca</option>
                    <option>Reunión</option>
                    <option>Ruanda</option>
                    <option>Rumania</option>
                    <option>Rusia</option>
                    <option>Sahara Occidental</option>
                    <option>Saint Kitts y Nevis</option>
                    <option>Samoa</option>
                    <option>Samoa Americana</option>
                    <option>San Marino</option>
                    <option>San Vicente y Granadinas</option>
                    <option>Santa Helena</option>
                    <option>Santa Lucía</option>
                    <option>Santo Tomé y Príncipe</option>
                    <option>Senegal</option>
                    <option>Seychelles</option>
                    <option>Sierra Leona</option>
                    <option>Singapur</option>
                    <option>Siria</option>
                    <option>Somalia</option>
                    <option>Sri Lanka</option>
                    <option>St Pierre y Miquelon</option>
                    <option>Suazilandia</option>
                    <option>Sudán</option>
                    <option>Suecia</option>
                    <option>Suiza</option>
                    <option>Surinam</option>
                    <option>Tailandia</option>
                    <option>Taiwán</option>
                    <option>Tanzania</option>
                    <option>Tayikistán</option>
                    <option>Territorios franceses del Sur</option>
                    <option>Timor Oriental</option>
                    <option>Togo</option>
                    <option>Tonga</option>
                    <option>Trinidad y Tobago</option>
                    <option>Túnez</option>
                    <option>Turkmenistán</option>
                    <option>Turquía</option>
                    <option>Tuvalu</option>
                    <option>Ucrania</option>
                    <option>Uganda</option>
                    <option>Uruguay</option>
                    <option>Uzbekistán</option>
                    <option>Vanuatu</option>
                    <option>Venezuela</option>
                    <option>Vietnam</option>
                    <option>Yemen</option>
                    <option>Yugoslavia</option>
                    <option>Zambia</option>
                    <option>Zimbab</option>

                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons md-18 blue">email</i>
                </div>

                <input type="email" class="form-control" id="email" name="email" maxlength="50"
                       required="required" placeholder="Correo Electrónico">

            </div>
        </div>

        <div class="form-group">
            <label>Teléfono Celular:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons md-18 blue">phone</i>
                </div>

                <input type="text" class="form-control" id="cel" name="cel" required="required"
                       placeholder="(xxx)-xxx-xxxx">
            </div>

        </div>

        <div class="form-group">
            <label>Teléfono Residencial:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="material-icons md-18 blue">phone</i>
                </div>
                <div class="form-group phone-number">
                    <input type="text" class="form-control" id="tel" name="tel" placeholder="(xxx)-xxx-xxxx">
                </div>

            </div>
        </div>

        <div
                style="margin: auto "
                class="g-recaptcha" data-sitekey="6Le7WCMTAAAAAFGqChVDfyU4lrF2N-ETD54H4WQa">

        </div>

        <br>

        <div class="form-group">
            <input class="form-control" type="submit"/>
        </div>


        <div class="form-group">
            <input class="form-control" type="reset" value="Limpiar campos"/>
        </div>


    </form>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.2.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
</div>
</body>
</html>