@charset "utf-8";

/* CSS Document */



#botonAdm:hover {
	background-color: #03a9f4;
	color: white;
}

#botonReg{
	margin-left:50px;
	margin-top:20px;
	font-size: 24px;
	padding: 32px 36px;
	border: 2px solid #f44336;
	color: black;
	transition-duration: 0.2s;
}

#botonReg:hover {
	background-color: #f44336;
	color: white;
}

#botonVol {
	font-size: 24px;
	padding: 32px 36px;
	margin-left:50px;
	margin-top:20px;
	border: 2px solid #673ab7;
	color: black;
	transition-duration: 0.2s;
}

#botonVol:hover {
	background-color: #673ab7;
	color: white;
}

#btnSubmit:hover {
	background-color: rgb(102,175,233);
	color: white;
	}

.btn-sq-lg {
	width: 150px !important;
	height: 150px !important;
}

.btn-sq {
	width: 100px !important;
	height: 100px !important;
	font-size: 10px;
}

.btn-sq-sm {
	width: 50px !important;
	height: 50px !important;
	font-size: 10px;
}

.btn-sq-xs {
	width: 25px !important;
	height: 25px !important;
	padding:2px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 58px; }